#contact {
  margin-top: 6rem;
}
#contact .container {
  background: var(--colorWhite);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

#contact .title {
  margin: 1.5rem 0 0 0;
}

#contact .col-lg-5 {
  position: relative;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  background: var(--color1);
  overflow: hidden;
}

#contact .col-lg-5 img {
  position: absolute;
  right: -6rem;
  bottom: -6rem;
  width: 50%;
}

#contact .col-lg-5 p,
#contact .col-lg-5 span,
#contact .col-lg-5 h2 {
  color: var(--colorWhite);
}

#contact .col-lg-7 {
  padding: 1.2rem;
  border-radius: 1rem;
}

#contact form {
  margin: 1.5rem 0 0 0;
}

#contact .information-detail {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 1.2rem;
  z-index: 99;
}

#contact .information-detail-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#contact h2 {
  z-index: 99;
}
#contact .information-detail-item {
  z-index: 9;
}

#contact .iconify {
  font-size: 1.5rem;
  color: var(--colorWhite);
}

#contact .location {
  font-size: 1.5rem;
}

#contact .sosmed {
  display: flex;
  cursor: pointer;
  gap: 1rem;
}

#contact .sosmed .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.2s ease;
  border-radius: 50%;
  padding: 0.2rem;
}

#contact .sosmed a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#contact .sosmed .iconify {
  color: var(--colorWhite);
  transition: 0.2s ease-in-out;
}

#contact .sosmed .circle:hover {
  background: var(--colorWhite);
}

#contact .sosmed .circle:hover .iconify {
  color: var(--color2);
}

#contact input,
#contact textarea {
  border: none;
  border-bottom: 2px solid var(--color3);
  border-radius: 0px;
  box-shadow: none;
}

#contact label {
  color: var(--color1);
  font-weight: 500;
}

#contact textarea {
  height: 5rem;
}

#contact #cobs {
  padding-left: 1.5rem;
}

#contact .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 1rem;
}

#contact .button button:nth-child(1) {
  background-color: var(--color2);
}

#contact .button button:nth-child(2) {
  background-color: var(--color2);
}

#contact button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 500;
  color: var(--colorWhite);
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

#contact button:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

#contact button .iconify {
  margin-left: 0.5rem;
}

@media (max-width: 1999px) {
  #contact .col-lg-5 img {
    right: -7rem;
    bottom: -5rem;
    width: 58%;
  }
}

@media (max-width: 991px) {
  #contact .col-lg-5 img {
    right: -8rem;
    bottom: -8rem;
    width: 20rem;
  }
}

@media (max-width: 399px) {
  #contact .col-lg-5 img {
    width: 17rem;
  }
}

@media (max-width: 356px) {
  #contact .col-lg-5 img {
    top: -3rem;
    right: -10rem;
    bottom: inherit;
    transform: rotate(-40deg);
    width: 17rem;
  }
}
