header {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorWhite);
}

.navbar .nav-brand {
  position: absolute;
  top: -5px;
  left: 0;
}

.navbar .nav-brand img {
  width: 18.4rem;
}

.navbar .nav-group {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.navbar .nav-item a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  color: var(--color1);
  transition: 0.2s ease-in;
  font-size: 1.2rem;
}

.navbar .nav-item a::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0.1rem;
  width: 0;
  height: 0.2rem;
  border-radius: 10px;
  background-color: var(--color2);
  transition: 0.2s ease-in;
}

.navbar .nav-item a:hover {
  color: var(--color2) !important;
}

.navbar .nav-item a:hover::before {
  width: 50%;
}

.navbar .nav-item a.active {
  color: var(--color2) !important;
}

.button-nav-mobile,
.button-nav-close-mobile {
  display: none;
}

header .bar-info {
  width: 100%;
  height: 3rem;
  background-color: var(--color1);
  padding-right: 2.2rem;
}

header .child {
  gap: 1.5rem;
  margin-left: auto;
}

@media (max-width: 991px) {
  .navbar .container-fluid {
    padding: 0rem 3rem;
  }

  .navbar .nav-group {
    padding-right: 0rem;
  }

  header .bar-info {
    padding-right: 3rem;
  }
}

@media (max-width: 934px) {
  .navbar .container-fluid {
    padding: 1rem 3rem;
  }

  .navbar .nav-brand {
    position: inherit;
  }

  .navbar .nav-brand img {
    width: 4rem;
  }

  .navbar .nav-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    padding: 5rem 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color1);
    transition: 0.2s ease-in-out;
    border-radius: 0 1.5rem 1.5rem 0;
    z-index: 99999;
  }

  .navbar .nav-group.active {
    width: 20rem;
    padding: 5rem 2rem 0 2rem;
  }

  .navbar .nav-item,
  .button-nav-close-mobile {
    opacity: 0;
    visibility: hidden;
    transition: 0.1s ease-in-out;
  }

  .navbar .nav-group.active .nav-item,
  .navbar .nav-group.active .button-nav-close-mobile {
    opacity: 1;
    visibility: visible;
  }

  .navbar .nav-item a {
    color: var(--colorWhite);
  }

  .button-nav-mobile,
  .button-nav-close-mobile {
    display: block;
    cursor: pointer;
  }

  .button-nav-close-mobile {
    transform: translate(13.8rem, -3.5rem);
  }

  .button-nav-close-mobile .iconify {
    transition: 0.1s ease-in;
  }

  .button-nav-close-mobile:hover .iconify {
    display: block;
    color: var(--color2) !important;
  }

  .button-nav-mobile span {
    font-size: 2rem;
  }

  .bar-info {
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child {
    margin: 0 auto;
    padding-left: 1.6rem;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 665px) {
  header .bar-info {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
  }
}
